header{
    background-color:#00008b ;
    height: 300px;
    
}

.headertop{
    background-color: #add8e6;
    margin: auto;
    display: flex;
    height: 20%;
   
}

 .barragialla{
    background-color:#daa520 ;
    margin: auto;
    width: 80%;
   
   
 }

.logo{
    display: inline-block;

    
}

.link{
   display: inline-block;
    text-align: center;

}

.login{
   display: inline-block;
}