header{
    background-color:#00008b ;
    height: 300px;
    
}

.headertop{
    background-color: #add8e6;
    margin: auto;
    height: 20%;
   
}

 .barragialla{
    background-color:#daa520 ;
    margin: auto;
    width: 80%;
    display: flex;
   
   
 }

.logo{
    justify-content: center;


    
}



.login{
  
}