header{
    background-color:#00008b ;
    height: 300px;
    

}

.blocco{
    background-color: #add8e6;
    margin: auto;
    display: flex;
    height: 20%;
}

 div{
    background-color:#daa520 ;
    justify-content: center;
    align-items: center;
 }

.logo{
    display: inline-block;
}

.link{
   display: inline-block;
    text-align: center;
}

.login{
   display: inline-block;
}